@{
    ViewData["Title"] = "Individual";
}
<center>
    <h1>Calcular de forma individual VAN y Payback para Broker</h1>

    @using (Html.BeginForm())
    {

        <div class="list_manage">
            @Html.Label("Broker 1:")
            @Html.DropDownList("broker1Selection", (SelectList)ViewBag.List)
        </div>
        <div class="button_compare">
            <input type="submit" value="Calcular" />
        </div>
    }
</center>

@if (ViewBag.ResultVan != null && ViewBag.ResultPay != null)
{
 <div class="box">
     @ViewBag.ResultVan
 </div>
 <div class="box">
     @ViewBag.ResultPay
 </div>
}
