@{
    ViewData["Title"] = "Inicio";
}

<div class="container_cards_index">
    <div class="card_index">
        <div class="cover_index">
            <center><img src="~/img/img1.png"/></center>
        </div>
        <div class="description_index">
            <h2>¡Completa!</h2>
            <p>Revisión completa de todos los registros!</p>
            <a href="/Manage/List">Revisar</a>
        </div>
    </div>

    <div class="card_index">
        <div class="cover_index">
            <center><img src="~/img/img2.png"/></center>
        </div>
        <div class="description_index">
            <h2>¡Comparar!</h2>
            <p>Comparar dos brokers en específico!</p>
            <a href="/Manage/Compare">Comparar</a>
        </div>
    </div>

    <div class="card_index">
        <div class="cover_index">
            <center><img src="~/img/img3.png"/></center>
        </div>
        <div class="description_index">
            <h2>¡Individual!</h2>
            <p>Cálculo individual de Broker en específico!</p>
            <a href="/Manage/Individual">Entrar</a>
        </div>
    </div>
</div>